{% include 'base.html' %}
{% block content %}
<h1>Lista de Fornecedores</h1>
<a href="{% url 'adicionar_fornecedor' %}" class="btn btn-primary">Adicionar Fornecedor</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for fornecedor in fornecedores %}
        <tr>
            <td>{{ fornecedor.id }}</td>
            <td>{{ fornecedor.nome }}</td>
            <td>{{ fornecedor.email }}</td>
            <td>
                <a href="{% url 'editar_fornecedor' fornecedor.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'deletar_fornecedor' fornecedor.id %}" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
